 @import "../meta/_variables";

@import "../meta/_mixins";

 @media (min-width: 1200px) and (max-width: 1300px) {
  .nav-main .nav a {
  font-size: 99%;
}
 }

@media (min-width: 980px) and (max-width: 1200px) {
  .nav-main .nav a {
  font-size: 90%;
}
 }

#menu-item-233 a, #menu-item-232 a, #menu-item-230 a {
  font-size:12px;
}

@media (max-width: 979px) and (min-width: 768px) {
.nav-main a {
font-size: 70%;
}
}

/************************************************** This is on the Marketing Solutions Page
**********************************************/
.media-nav {
  font-size: 78%;
}

/******************************************
Page-home.php
********************************************/

.home-icons {
  text-align: center;
}

/*******************
About us Photos
**********************/

.team-photos{
  text-align: center;
}

/******************************************
Experimental Counter
*******************************************/

.values-gray {
  text-align: center;
}

.noWrapping {
  white-space: nowrap;
    @include breakpoint(small) {
    white-space: normal;
  }
}
